<div *ngIf="user" class="flex items-center gap-16 p-8 flex-wrap">
    <div class="fixed top-0 text-blue-500 hover:underline bg-white w-full">
        <a routerLink="/">Home</a>
    </div>
    <div class="mr-4">
        <img src={{user.avatar_url}} alt="Profile Picture" class="rounded-full w-[120px] h-[120px]">
    </div>
    <div>
        <h2 class="text-2xl font-bold mb-2">{{user.name}}</h2>
        <p class="text-gray-600 mb-2 text-sm font-bold break-normal">{{user.bio}}</p>
        <p class="text-gray-600 mb-2 text-sm "> <img src="https://cdn-icons-png.flaticon.com/512/0/619.png" alt="location icon" class="w-4 h-4 mb-[5px] inline"/>{{user.location}}</p>
        <p class="text-blue-500 text-sm">{{user.twitter_username && user.twitter_username}}</p>
    </div>
</div>
<div *ngIf="user" class="flex gap-2 mb-8">
    <img src="https://static.thenounproject.com/png/2192072-200.png" alt="attch" class="w-6 h-6 rotate-[47deg] cursor-pointer"/>
    <p class="font-semibold text-sm">
        https://github.com/{{user.login}}
    </p>
</div>